@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

html {
  box-sizing: border-box;
  --header-bg-color: rgb(0, 51, 78);
  --main-bg-color: rgb(232, 232, 232);
  background-color: var(--main-bg-color);
}

/* outline to see elements layout during development more easily */
body * {
  border: 1px dashed rgba(128, 128, 128, 0.4);
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: var(--header-bg-color);
}

.icon {
  padding-left: 20px;
  height: 40px;
  width: auto;
}

.title {
  padding-left: 10px;
  display: flex;
  font-family: 'Yeseva One', cursive;
  font-size: 2.5rem;
  color: white;
}

.content {
  display: flex;
  min-height: 90vh;
  justify-content: space-between;
}

.nav {
  min-width: 30vw;
  flex: 0;
}

.task-list {
  flex: 1;
}